body {
  margin: 0;font-family: 'Poppins',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;

}
h1{
  font-family: 'Poppins',
  sans-serif;
  color: black;
  font-size: 100px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.single-page{
  width: 100vw;
  height: 100vh;
}

.navbar{
  position: absolute;
  width: 100vw;
  height: 140px;
  left: 0px;
  top: 0px;
  
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  flex-wrap: nowrap;

  background: #215574;
  box-shadow: 10px 10px 51px rgba(0, 0, 0, 0.25);
}
#navbar-print{position: absolute;
width: 608.39px;
height: 99px;
left: -240px;
top: -44px;

background:url('./assets/HomePage/ndebele.png');
background-size:cover;
transform: rotate(-45deg);
}

#Logo{height: 69px;
width: 200px;
margin-left: 141px;
top: 50px;
background:url('./assets/HomePage/Logo.png');
background-repeat: no-repeat;
background-position: center;
border-style: none;
  
}

.link{
  font-family: 'Poppins',
  sans-serif;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: 25px;

}
.link:hover{
  border-radius: 10px;
  text-align: center;
  height: 50px;
  width: 120px;
  background: #FFCB05;
}
.hire-me{
  border-radius: 10px;
  text-align: center;
  height: 50px;
  width: 120px;
  background: #FFCB05;
}

.hire-me:hover{
  background: white;
  color: black;
  transform: scale(1.2);
}


.all-links{
  display: flex;
  flex-wrap:wrap;
  margin-left: 10vw;
  position: absolute;
  left: 50vw;
}
