body {
  margin: 0;font-family: 'Poppins',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.single-page{
  width: 100vw;
  height: 100vh;
}

.navbar{
  position: absolute;
  width: 100%;
  height: 140px;
  left: 0px;
  top: 0px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;


  background: #215574;
  box-shadow: 10px 10px 51px rgba(0, 0, 0, 0.25);
}
#navbar-print{position: absolute;
width: 608.39px;
height: 99px;
left: -240px;
top: -44px;

background:url('./assets/HomePage/ndebele.png');
background-size:cover;
transform: rotate(-45deg);
}

#Logo{height: 69px;
width: 172px;
margin-left: 141px;
top: 50px;
background:url('./assets/HomePage/Logo.png');
background-repeat: no-repeat;
background-position: center;
border-style: none;
  
}

.link{
  font-family: 'Poppins',
  sans-serif;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-left: 25px;

}

.all-links{
  padding-left: 546px;
}