body {
  margin: 0;font-family: 'Poppins',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;

}
h1{
  font-family: 'Poppins',
  sans-serif;
  color: black;
  font-size: 100px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.single-page{
  width: 100vw;
  height: 100vh;
  
}

/* Navbar At the top */
.navbar{
  position: absolute;
  width: 100vw;
  height: 14.304vh;
  left: 0px;
  top: 0px;
  
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  flex-wrap: nowrap;

  background: #215574;
  box-shadow: 10px 10px 51px rgba(0, 0, 0, 0.25);
}
#navbar-print{position: absolute;
width: 608.39px;
height: 99px;
left: -240px;
top: -44px;

background:url('./assets/HomePage/ndebele.png');
background-size:cover;
transform: rotate(-45deg);
}

#Logo{height: 69px;
width: 200px;
margin-left: 141px;
top: 50px;
background:url('./assets/HomePage/Logo.png');
background-repeat: no-repeat;
background-position: center;
border-style: none;
  
}

.link{
  font-family: 'Poppins',
  sans-serif;
  text-decoration: none;
  color: white;
  font-size: 2em;
  margin-left: 25px;

}
.link:hover{
  font-family: 'Poppins';
  border-radius: 10px;
  text-align: center;
  height: 50px;
  width: 4.5em;
  background: #FFCB05;
}
.hire-me{
  border-radius: 10px;
  text-align: center;
  height: 50px;
  width: 4.5em;
  background: #FFCB05;
}

.hire-me:hover{
  background: white;
  color: black;
  transform: scale(1.2);
}


.all-links{
  display: flex;
  flex-wrap:wrap;
  margin-left: 10vw;
  position: absolute;
  left: 50vw;
}

/* Page txt and photo at the center  */

.first-page-center{
  height: 62.976vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

#hi-im{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  word-spacing: 3px;

}

.name {
  font-family: 'Inter',
  sans-serif;
  color: black;
  font-size: 2em;
}

.highlight {
  font-family: 'Inter',
  sans-serif;
  color: #ea292d;
  font-size: 1.1em;
}

#hello-emoji{
  margin-left: 25px;
  width: 32px;
  height: 51px;
  background:url('./assets/HomePage/Hey.png');
  background-repeat: no-repeat;
  background-position: center;
}
#front-end{
  font-family: 'Inter',
  sans-serif;
font-size: 3.5em;}

#text{
  font-family: 'Inter','sans-serif';
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
}
.small-photo{
  width: 206px;
  height: 206px;
  border: 8px solid #EC1A24;
  border-radius: 150px;
  background: url('./assets/HomePage/TT.png');
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(10px 10px 51px rgba(0, 0, 0, 0.25));
}

/* Bottom boxes in the home page  */
.bottom-page-boxes{
  height: 22.72vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.bottom-box{
width: 30vw;
height: 11.52vh;
left: 952px;
top: 805px;

background: rgba(56, 62, 69, 0.44);
border-radius: 10px;
background: #004D4C;
filter: drop-shadow(10px 10px 51px rgba(0, 0, 0, 0.25));
display: flex;
align-items: center;

}

.box-icon{
  width: 5em;
  height: 5em;
  border: 2px solid black;
  border-radius: 150px;
  margin-left: 30px;
}